*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# project specific

ontonotes-url.txt
mturk.properties
resources/ontonotes-release-5.0
resources/conll-2012
resources/wiktionary
experiments/*/data/*
experiments/*/out/*

mts/jvm/src/main/resources/*.jks
mts/jvm/src/main/resources/*.p12
mts/jvm/src/main/resources/*-password