*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# project specific

/annotations

/ontonotes-url.txt
/mturk.properties

/resources/ontonotes-release-5.0
/resources/conll-2012
/resources/amr
/resources/corenlp
/resources/nombank.1.0
/resources/propbank-release-master
/resources/ptb
/resources/qasrl
/resources/wiki1k
/resources/wiktionary

/experiments/*/data/*
/experiments/*/out/*

/mts/jvm/src/main/resources/*.jks
/mts/jvm/src/main/resources/*.p12
/mts/jvm/src/main/resources/*-password
